.header {
  background-color: #333;
  color: white;
  padding: 1rem 0;
}

.header h1 {
  margin: 0;
}

.header nav a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

.header nav a:hover {
  text-decoration: underline;
}

.search-bar input {
  width: calc(100% - 90px); /* Ajustar ancho del input */
  margin-right: 10px;
}

.search-bar button {
  width: 80px;
}
