.movie-detail {
  margin-bottom: 100px;
  margin-top: 20px; /* Añadir margen superior */
}

.movie-detail-info {
  margin-bottom: 20px;
}

.movie-detail-buttons {
  margin-top: 20px;
}

.movie-detail-buttons button {
  margin-right: 10px; /* Añadir margen derecho entre los botones */
}

.movie-detail-buttons button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
