.movie-card-image {
  width: 100%;
  height: auto;
  max-width: 150px; /* Ajustar el ancho máximo */
  max-height: 150px; /* Ajustar la altura máxima */
  border-radius: 4px;
  margin: 0 auto; /* Centrar la imagen horizontalmente */
  display: block; /* Asegurarse de que el margen automático funcione */
}
